@model web.Models.Asuetos

@{
    ViewBag.Title = "Editar asueto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal col-md-6 col-md-offset-3">
        <h4>Editar asueto</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdAsueto)
        @Html.HiddenFor(model => model.Eliminado)
        @Html.HiddenFor(model => model.UsuarioCrea)
        @Html.HiddenFor(model => model.UsuarioModifica)
        @Html.HiddenFor(model => model.FechaCrea)
        @Html.HiddenFor(model => model.FechaModifica)

        <div class="form-group">
            @Html.LabelFor(model => model.DescripcionAsueto, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.DescripcionAsueto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DescripcionAsueto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Inicio, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Inicio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Inicio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fin, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Fin, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Fin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="text-center">
                <input type="submit" value="Guardar" class="btn btn-warning" />
                @Html.ActionLink("Cancelar", "Index",null,new { @class="btn btn-success"})
            </div>
        </div>
    </div>
}

