@model web.Models.Direccion

@{
    ViewBag.Title = "Eliminar Dirección";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-md-offset-3 col-md-6">
    <h4>¿Realmente desea eliminar esta dirección?</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DireccionNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DireccionNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdPersonaACargo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonaACargo.NombreCompleto)
        </dd>

        
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color text-center">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> 
            @Html.ActionLink("Cancelar", "Index", null, new { @class="btn btn-success"})
        </div>
    }
</div>
