@model IEnumerable<web.Models.Auditorias>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div>@ViewBag.page paginas</div>
<div>@ViewBag.plan plan</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Estado.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Plan.NombrePlan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsuarioRealiza.Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Auditoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescripcionAuditoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duracion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaFin)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Estado.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Plan.NombrePlan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsuarioRealiza.Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Auditoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescripcionAuditoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duracion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaFin)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdAuditoria }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdAuditoria }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdAuditoria })
        </td>
    </tr>
}

</table>
