@model web.Models.Evidencias

@{
    ViewBag.Title = "Registrar evidencias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-offset-3 col-md-6">
    <form id="formulario" action="">
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Registrar evidencias</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Evidencia, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Evidencia, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Evidencia, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DescripcionEvidencia, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @*@Html.EditorFor(model => model.DescripcionEvidencia, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.TextAreaFor(model => model.DescripcionEvidencia, new { @class = "form-control", @style = "height: 100px;" })
                    @Html.ValidationMessageFor(model => model.DescripcionEvidencia, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Documento, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    <input id="archivoSubir" type="file" />
                    @Html.ValidationMessageFor(model => model.Documento, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.HiddenFor(model => model.IdHallazgo)
            <div class="form-group text-center">
                <div class="col-md-12">
                    <input type="button" id="btn-enviar" value="Create" class="btn btn-success" />
                    @Html.ActionLink("Cancelar", "Index", new { id = Model.IdHallazgo }, new { @class = "btn btn-warning" })

                    <div class="col-md-offset-6" style="margin-top: 5px;">
                        <div id="spin" class="loader" style="display:none"></div>
                    </div>
                </div>
            </div>
        </div>
    </form>


</div>

<script type="text/javascript">
    $("#btn-enviar").click(function () {
        if ($("#Evidencia").get(0).value == "" || $("#DescripcionEvidencia").get(0).value == "") {
            alertify.warning("Debe completar todos los campos solicitados");
            return;
        }
        var selectedFile = ($("#archivoSubir"))[0].files[0];
        if (typeof (selectedFile) == "undefined") {
            alertify.warning("Seleccione un archivo.");
            return;
        }
        var dataString = new FormData();
        dataString.append("fileUpload", selectedFile);
        dataString.append("__RequestVerificationToken", $("input[name='__RequestVerificationToken']").get(0).value);
        dataString.append("evidencias", '{ Evidencia:"' + $("#Evidencia").get(0).value + '",DescripcionEvidencia:"' + $("#DescripcionEvidencia").get(0).value + '",idHallazgo:' + $("#IdHallazgo").get(0).value + '}');
        $("#spin").show();
        $.ajax({
            url: '@Url.Action("Create", "EvidenciasHallazgos")',
            timeout: 300000,
            type: "POST",
            data: dataString,
            contentType: false,
            processData: false,
            async: true,
            success: function (data) {
                if (typeof (data.Value) != "undefined") {
                    $("#spin").hide();
                    if (data.Value) {
                        window.location.href = data.Ret;
                    } else {
                        alertify.error(data.Message);
                    }
                }
            },
            error: function () {
                $("#spin").hide();
                alertify.error("Error no identificado")
            }
        });
    });

</script>