@model web.Models.Fases

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Fases</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Auditoria.Auditoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Auditoria.Auditoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fase)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Porcentaje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Porcentaje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Eliminado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Eliminado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaModifica)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
