@model web.Models.Fases

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Fases</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Auditoria.Auditoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Auditoria.Auditoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fase)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Porcentaje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Porcentaje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Eliminado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Eliminado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaModifica)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdFase }) |
    @Html.ActionLink("Back to List", "Index")
</p>
